#### Missing values in Python

In [1]:
#What Are Missing Values?
#...Missing values mean some data entries are blank or not available or null.
#...In Python (especially in Pandas), missing values are represented as NaN (Not a Number).
#...Handling missing data is very important because most machine learning models can’t handle NaN values directly.

In [2]:
#Import Library and Create DataFrame

# ->We’ll use the Pandas library for handling missing data.

In [4]:
import pandas as pd


# Creating a simple dataset with missing values
data = {
    'Name':[ 'Riya', 'Aman', 'Meena', 'Sohan', 'Neha'],
    'Age': [20, None, 25, None, 22],
    'Marks': [80, 90, None, 70, 85],
    'City': ['Delhi', 'Mumbai', None, 'Pune', 'Mumbai']
}

df = pd.DataFrame(data)
print("Original DataFrame:\n", df)

Original DataFrame:
     Name   Age  Marks    City
0   Riya  20.0   80.0   Delhi
1   Aman   NaN   90.0  Mumbai
2  Meena  25.0    NaN    None
3  Sohan   NaN   70.0    Pune
4   Neha  22.0   85.0  Mumbai

In [5]:
#we will check Missing Values

#We first check how many missing values are present in each column.

In [6]:
print(df.isnull().sum())

Name     0
Age      2
Marks    1
City     1
dtype: int64

### Handling Missing Values (Filling Techniques)

In [7]:
#Filling Missing Values with Mean

# Use when: The column contains numerical data (like Age, Marks, Salary).
#           we use a mean when there is no outlier in data 
# Formula: Mean = (Sum of all values) / (Number of values)

In [8]:
import warnings
warnings.filterwarnings('ignore')   # hides warnings (optional)

In [9]:
df['Age'].fillna(df['Age'].mean(), inplace=True)
print(df)

    Name        Age  Marks    City
0   Riya  20.000000   80.0   Delhi
1   Aman  22.333333   90.0  Mumbai
2  Meena  25.000000    NaN    None
3  Sohan  22.333333   70.0    Pune
4   Neha  22.000000   85.0  Mumbai

In [10]:
#Filling Missing Values with Median
#Use when: The column has outliers (extreme values) that can affect the mean.
#Definition: Median = Middle value after sorting all values.

In [11]:
df['Marks'].fillna(df['Marks'].median(), inplace=True)
print(df)

    Name        Age  Marks    City
0   Riya  20.000000   80.0   Delhi
1   Aman  22.333333   90.0  Mumbai
2  Meena  25.000000   82.5    None
3  Sohan  22.333333   70.0    Pune
4   Neha  22.000000   85.0  Mumbai

In [12]:
#filling missing value with mode
#Use when: The column contains categorical data (like City, Gender, Department).
#Definition: Mode = The most frequently occurring value in a column.